@{
    ViewBag.Title = "Racuni";

}
<div class="jumbotron">
    <h4>Izdavanje i pregled računa.</h4>
</div>
<input type="button" class="btn btn-danger" value="Izdaj novi račun" onclick="0" />
<input type="button" class="btn btn-danger" value="Pregled izdanih računa" onclick="0" />
