
@{
    ViewBag.Title = "Register";
}

<div class="form-page">
    <h2 class="page-title"><span class="title-red">PAUP</span> <span class="title-blue">projekt</span></h2>
    <h3><span class="label label-primary">Ispunite podatke za registraciju</span></h3>
    <form method="post" action="">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Ime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="surname" placeholder="Prezime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Korisničko ime">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Vaša e-mail adresa">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Lozinka">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="passwordRepeat" placeholder="Ponovite lozinku">
        </div>

        <button type="submit" class="btn btn-success">Registracija</button>

    </form>

    <ul class="nav nav-pills">
        <li role="presentation">@Html.ActionLink("Prijava", "Login", "Auth")</li>
        <li role="presentation">@Html.ActionLink("Zaboravio lozinku", "ForgotPassword", "Auth")</li>
        <li role="presentation" class="disabled"><a href="#">Registracija</a></li>
    </ul>
</div>

