@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Međimursko veleučilište u Čakovcu<br />
    Preddiplomski stručni studij računarstvo<br />
    <abbr title=Telefon:</abbr>
    040 000 000
</address>

<address>
    <strong>e-Mail:</strong>   <a href="info@paup.hr">info@paup.hr</a><br />
</address>