@{
    ViewBag.Title = "O projektu";
}

<div class="jumbotron">
    <h1>PAUP projekt</h1>
    <p class="lead">Naziv projekta: Račun</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Autorice projekta:</h2>
        <p> Josipa Kovač</p>
        <p> Ivana Žganec</p>

    </div>