//
//@{
  //  ViewBag.Title = "Usluge";
//}

//<div class="jumbotron">
  //  <h1>Usluge</h1>
//</div>

//<div class="row">
  //  <div class="col-md-6">
    //    <h2>Pretraživanje i pregled</h2>
      //  <p>Pretraživanje usluga, ažuriranje i brisanje usluga.</p>
        //<p>@Html.ActionLink("Pregled", "Popis", "Usluge", "", new { @class = "btn btn-default btn-lg", role = "button" })</p>
    //</div>
    //<div class="col-md-6">
      //  <h2>Unos nove usluge</h2>
        //<p>Unos nove usluge u bazu podataka.</p>
        //<p>@Html.ActionLink("Unos", "Azuriraj", "Usluge", "", new { @class = "btn btn-default btn-lg", role = "button" })</p>
    //</div>
//</div>